<div class="w-full h-full bg-cover bg-login">
  <div class="p-10 desktop:hidden">
    <img src="/assets/images/logo.jpg" class="object-cover mx-auto h-28 w-28" />
  </div>
  <div class="mx-8 bg-white desktop:w-96 desktop:mx-auto desktop:my-40">
    <div class="hidden pt-8 desktop:block">
      <img
        src="/assets/images/logo.jpg"
        class="object-cover mx-auto w-28 h-28"
      />
    </div>
    <div
      class="hidden text-center desktop:w-auto desktop:mx-auto desktop:block desktop:pt-8 desktop:pb-4"
    >
      <label class="text-xl iteriam-label">Prueba técnica</label>
    </div>
    <app-login-form
      (login)="this.login($event)"
      (formErrors)="this.errors($event)"
    ></app-login-form>
  </div>
</div>
