<div class="w-full h-full overflow-y-auto bg-cover bg-login">
  <svg class="w-5 h-5 text-white animate-spin" viewBox="0 0 24 24">loading</svg>

  <div class="p-10 desktop:hidden">
    <img src="/assets/images/logo.jpg" class="object-cover mx-auto h-28 w-28" />
  </div>
  <div class="mx-8 bg-white desktop:w-96 desktop:mx-auto desktop:mt-40">
    <div class="hidden pt-8 desktop:block">
      <img
        src="/assets/images/logo.jpg"
        class="object-cover mx-auto w-28 h-28"
      />
    </div>
    <div
      class="hidden text-center desktop:w-auto desktop:mx-auto desktop:block desktop:pt-8 desktop:pb-4"
    >
      <label class="text-xl iteriam-label"
        >{{'APP.TEST_NAME' | translate}}</label
      >
    </div>
    <app-login-form
      [loading]="loading$ | async"
      (login)="this.login($event)"
      (errors)="this.onErrors($event)"
    ></app-login-form>
  </div>
  <app-toast *ngIf="(loading$ | async) === false" [errors]="errors"></app-toast>
</div>
