<div class="w-full h-full bg-cover bg-login">
  <div class="p-10">
    <img src="/assets/images/logo.jpg" class="object-cover mx-auto h-28 w-28" />
  </div>
  <div class="mx-8 bg-white">
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="px-6 pt-2">
        <app-iteriam-input
          [control]="email"
          [inputType]="'email'"
          [icon]="'person-outline'"
          [label]="'Email'"
        ></app-iteriam-input>
        <app-iteriam-input
          [control]="password"
          [inputType]="'password'"
          [icon]="'lock-closed-outline'"
          [label]="'Password'"
        ></app-iteriam-input>

        <app-iteriam-toggle
          [control]="rememberMe"
          [label]="'Recordar'"
        ></app-iteriam-toggle>
      </div>
      <button
        type="submit"
        class="w-full p-4 mt-4 font-bold text-white bg-blue"
      >
        Acceder
      </button>
    </form>
  </div>
</div>
