// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

// COLORS

$color-primary: #1379c8;
$color-white: #ffffff;


$text-color-primary: #434343;
$text-color-accent: #abaaab;
