<form
  (ngSubmit)="submit()"
  [formGroup]="loginForm"
  class="desktop:flex desktop:flex-col"
>
  <div class="px-6 py-4">
    <app-iteriam-input
      id="email"
      [control]="email"
      [inputType]="'email'"
      [icon]="'person-outline'"
      placeholder="{{ 'EMAIL' | translate }}"
      [ngClass]="{ invalid: !emailValid }"
      [isValid]="emailValid"
    ></app-iteriam-input>

    <app-iteriam-input
      id="password"
      [control]="password"
      [inputType]="'password'"
      [icon]="'lock-closed-outline'"
      placeholder="{{ 'PASSWORD' | translate }}"
      [ngClass]="{ invalid: !passwordValid }"
      [isValid]="passwordValid"
    ></app-iteriam-input>

    <app-iteriam-toggle
      id="rememberMe"
      formControlName="rememberMe"
      label="{{ 'REMEMBER' | translate }}"
    ></app-iteriam-toggle>
  </div>
  <button type="submit" class="button-primary" [disabled]="this.loading">
    <p *ngIf="!loading">{{ "ACCESS" | translate }}</p>
    <p *ngIf="loading" class="animate-pulse">
      {{ "APP.LOADING" | translate }}
    </p>
  </button>
</form>
