<div
  id="iteriam-input__container"
  class="relative w-full py-4"
>
  <ion-icon
    *ngIf="icon"
    [name]="icon"
    class="absolute left-0 z-10 text-3xl bottom-8 text-gray-accent focus:text-gray focus:z-10"
  ></ion-icon>
  <input
    class="pl-10"
    [ngClass]="{
      'iteriam-input': isValid,
      'iteriam-input-error': !isValid
    }"
    [formControl]="control"
    autocomplete="{{ inputType }}"
    [type]="inputType"
    [placeholder]="placeholder"
    [maxlength]="maxLength"
    [minlength]="minLength"
    placeholder="{{ placeholder }}"
  />
</div>
