@import "/src/theme/_functions.scss";
@import "/src/theme/_variables.scss";
@import "/src/theme/_spacing.scss";

#iteriam-input__container {
  // width: auto;
  // padding: calc-rem($app-padding--default);

  color: $color-accent;

  ion-label {
    color: $color-accent;
    vertical-align: text-top;
    font-size: medium;
  }

  ion-icon {
    color: $color-accent;
    padding-right: calc-rem($app-padding--default);
    vertical-align: bottom;
    font-size: x-large;
  }

  ion-input {
    color: $color-accent;
    width: 64px;
  }

  // input {
  // border: none;
  // border-bottom: 1px solid $color-accent;
  // padding-bottom: calc-rem($app-padding--default);
  // padding-top: calc-rem($app-padding--default);

  // }
  // ::placeholder {
  //   vertical-align: text-top;
  //   color: $color-accent;
  // }
}
